/* ======================css reset ======================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ====================css variables=================== */

:root {
    --primary-color: black;
    --secondary-color: white;
    --primary-font-family: ;
    --secondary-font-family: ;
}

/* ====================css utilities classes======================= */

a {
    text-transform: none;
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container {
    width: 100%;
}

.main-container {
    width: 90%;
    margin: auto;
    padding: 2rem 0rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-top {
    display: flex;
    justify-content: center;
}

.primary-btn {
    margin-top: 3rem;
}

.primary-btn a {
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: blue;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

.pink-color-text {
    color: rgb(199, 22, 155);
}

.text-align {
    text-align: center;
}

.margin-auto {
    margin: auto;
    display: block;
    position: relative;
    left: 50%;
    padding-bottom: 1rem;
}

.primary-btn a:hover {
    background-color: rgb(80, 80, 112);
    box-shadow: 0px 5px 20px gray;
}

.secondary-btn a {
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: 0.5s;
}

.secondary-btn a:hover {
    opacity: 0.8;
}

/* =============header section ====================  */

#header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.8)), url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#header .header-nav {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: sticky; */
    top: 0;
    z-index: 99;
}

#header .header-nav .logo h1 {
    color: white;
}

#header .header-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .header-nav ul li {
    margin: 0rem 1.5rem;
}

#header .header-nav ul li a {
    text-decoration: none;
    color: rgb(247, 238, 238);
    font-family: 'Poppins', sans-serif;
}

#header .header-nav ul li .active {
    color: blue;
    font-weight: bold;
}

#header .header-nav ul li a::before {
    content: '';
    position: absolute;
    top: 7%;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: 0.5s;
    margin: auto;
}

#header .header-nav ul li a:hover::before {
    width: 6%;
}

.call-to-action a {
    text-decoration: none;
    background-color: rgb(53, 70, 168);
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 4px;
    border: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

.call-to-action a:hover {
    background-color: blue;
    box-shadow: 0px 4px 20px gray;
}

.header-content {
    height: 100%;
}

.header-main-content {
    width: 100%;
    height: 100%;
    margin: auto;
    transform: translateY(50%);
}

.header-main-content h1 {
    font-family: 'Poppins', sans-serif;
    width: 50%;
    margin: 1rem 0rem;
    font-size: 4rem;
}

.header-main-content p {
    width: 40%;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/* ===============about us section============== */

#about-us {
    width: 100vw;
    height: auto;
    font-family: 'Poppins', sans-serif;
}

#about-us .box {
    margin: 0rem 2rem;
    width: 100%;
}

#about-us .box img {
    width: 100%;
}

#about-us h1 {
    margin: 1rem 0rem;
    font-size: 3rem;
}

/* ===============classess section================= */

#classes .box h1 {
    margin: 1rem 0rem;
    font-size: 3rem;
}

/* ====================feature section start here========== */

#feature {
    width: 100%;
}

#feature .box {
    width: 100%;
    margin: 1rem 0rem;
}

#feature .sub-box {
    width: 100%;
    margin: 1.5rem;
}

#feature .box img {
    width: 100%;
    border-radius: 1rem;
}

/* ===========pricing section start here================ */

#pricing {
    width: 100%;
}

.pricing-heading {
    font-size: 3rem;
}

#pricing .box {
    width: 100%;
    text-align: center;
    margin: 1.5rem;
    padding: 1rem;
    color: white;
    height: 60vh;
    border-radius: 0.6rem;
}

#pricing .box1 {
    background-color: #7c10f7;
}

#pricing .box2 {
    background-color: #d314b1;
}

#pricing .box3 {
    background-color: #ff6000;
}

#pricing .box h1 {
    margin: 1rem 0rem;
}

#pricing .box p {
    margin: 1rem 0rem;
}

.margin-top {
    margin-top: 4rem;
}

/* ============instructor================= */

#instructor {
    width: 100%;
}

#instructor h1 {
    font-size: 3rem;
    padding: 1rem 0rem;
}

#instructor .box {
    width: 100%;
    margin: 1.5rem;
}

#instructor .box img {
    width: 100%;
}

#instructor .sub-box {
    margin: 1.5rem;
}

/* ================video section================ */

#video {
    width: 100%;
    background-color: blue;
    clip-path: polygon(100% 0%, 52% 10%, 33% 22%, 18% 13%, 0% 0%, 0% 75%, 0% 100%, 28% 89%, 48% 94%, 70% 87%, 83% 83%, 100% 100%, 100% 77%, 100% 25%);
}

#video .box {
    width: 100%;
    color: white;
}

#video img {
    width: 100%;
    padding: 4rem;
}

#video .box h1 {
    font-size: 2.5rem;
    width: 50%;
    text-align: center;
}

/* ============location start here================ */

#location {
    width: 100%;
}

#location .box2, .box4 {
    position: relative;
    left: -3rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

#location .box2 p {
    padding: 1rem 0rem;
}

#location .box4 p {
    padding: 1rem 0rem;
}

#location img {
    border-radius: 1rem;
    width: 100%;
}

/* ==============contact section=============== */

#contact {
    width: 100%;
}

#contact .box {
    margin: 0rem 2rem;
}

#contact .box2 .name-grp {
    margin: 1rem 0rem;
}

#contact input, textarea {
    display: block;
    width: 100%;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.199);
}

#contact button {
    border: none;
    color: white;
    background-color: blue;
    padding: 0.7rem 1.9rem;
    border-radius: 1rem;
}

#contact input:focus {
    outline: 1px solid rgb(90, 33, 155);
    color: blue;
}

#contact textarea:focus {
    outline: 1px solid rgb(90, 33, 155);
}

/* ==================footer=================== */

footer {
    width: 100%;
    background-color: rgb(20, 20, 87);
    color: white;
}

footer .box {
    margin: 0rem 2rem;
}

footer .box1 {
    width: 30%;
}

footer .box h3 {
    padding: 1rem 0rem;
}

footer .box p {
    padding: 0.4rem 0rem;
    line-height: 1.7;
    font-size: 0.9rem;
}

footer i {
    margin: 1rem;
    font-size: 1.5rem;
}